.input {
    border: 1px solid black;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    color: rgba(4,4,18,0.65);
    background-color: white;
    text-align: right;
    font-size: 30px;
    line-height: 50px;
    padding-right: 20px;
}