.orangeButton {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #ffb340;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
}