.output {
    border: 1px solid black;
    border-radius: 30px;
    width: 240px;
    height: 60px;
    color: rgba(4,4,18,0.65);
    background-color: rgb(244,244,244);
    text-align: right;
    font-size: 30px;
    line-height: 60px;
    padding-right: 20px;
}