.blueButton {
    border: 1px solid black;
    border-radius: 30px;
    width: 120px;
    height: 50px;
    color: white;
    background-color: rgb(89,150,208);
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}