.App {
  height: 350px;
  width: 350px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid black;
  border-radius: 70px;
  background-color: rgb(254,250,243);
}
.wrapper {
  position: relative;
}
.res {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin: auto;
}